@import url("https://bad-u1.netlify.app/components/component.css");
body {
  margin: 0px 0px;
  background-color: white;
}

.App {
  font-family: sans-serif;
  text-align: center;
  margin: 0px 0px;
}
